.post{
    box-shadow: 0px 3px 4px rgb(0,0,0,.78);
    background-color: whitesmoke;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.post>p>span{
    background-color: blue;
    border-radius: 8px;
    padding: 4px;
    border: 1px solid black;
    color: white;
}
.post p{
    font-size: 18px;
}